---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';

export interface Props {
	title?: string;
}

const { title = 'Shawn Papineau | Developer • Producer • Photographer' } =
	Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="font-sans antialiased">
		<slot />
	</body>
</html>
